<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="moduloTransferencia()">
        <mat-icon> attach_money</mat-icon>
        <span>Transfer</span>
      </button>
      <button mat-menu-item (click)="moduloDestinatrio()">
        <mat-icon>supervisor_account</mat-icon>
        <span >Recipient</span>
      </button>
      <button mat-menu-item (click)="moduloHistorico()">
        <mat-icon>history</mat-icon>
        <span >History</span>
      </button>
    </mat-menu>
    <span>Menu</span>
    <span class="spacer"></span>
    <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" #tooltip="matTooltip"
      matTooltip="Close Session">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-toolbar> 
</p>

<app-header *ngIf="header"></app-header>

<app-transferencia [moduloTransferencia]="bModuloTransferencia" *ngIf="destinatario" (close)="closeModuloDestinatario()"
  (sessionExpired)="sessionExp()"></app-transferencia>

<app-historico (sessionExpired)="sessionExp()" *ngIf="historico" (close)="closeModuloHistorico($event)"></app-historico>

