<div class="contenedor row justify-content-center mt-3">
    <div class="box-login shadow-lg border p-4 rounded">
        <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field> -->

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Nombre destinatario Column -->
                <ng-container matColumnDef="nombredestinatario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre destinatario </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- RUT Column -->
                <ng-container matColumnDef="rut">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RUT </th>
                    <td mat-cell *matCellDef="let row"> {{row.rut}} </td>
                </ng-container>

                <!-- Banco Column -->
                <ng-container matColumnDef="banco">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Banco </th>
                    <td mat-cell *matCellDef="let row"> {{row.bancoDestino}} </td>
                </ng-container>

                <!-- Tipo de cuenta Column -->
                <ng-container matColumnDef="tipocuenta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de cuenta </th>
                    <td mat-cell *matCellDef="let row"> {{row.tipoCuenta.description}} </td>
                </ng-container>

                <!-- Monto Column -->
                <ng-container matColumnDef="monto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                    <td mat-cell *matCellDef="let row"> {{row.monto}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data.
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr> -->
            </table>

            <mat-paginator [pageSize]="5" aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
        <div class="mt-5 row justify-content-center">
            <button mat-raised-button color="basic" class="col-lg-5"
                (click)="cerrarDestinatario()">Cerrar</button>
        </div>

    </div>
</div>