<div class="contenedor">
    <div class="box-login shadow-lg border p-4 rounded">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Nuevo Destinatario</h1>
            </div>
        </div>
        <form #destinatarioForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <label class="mdc-text-field mdc-text-field--outlined w-100 text-field-pass">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>RUT</mat-label>
                            <input required mask="00.000.000-0" (blur)="validarRUT()" #rut="ngModel" name="rut" [(ngModel)]="destinatario.rut" type="text" matInput>
                        </mat-form-field>
                    </label>
                </div>
                <div class="col-lg-6 ">
                    <label class="mdc-text-field mdc-text-field--outlined w-100 text-field-pass">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>Nombre</mat-label>
                            <input required #name="ngModel" name="name" [(ngModel)]="destinatario.name" type="text" matInput>
                        </mat-form-field>
                    </label>
                </div>
                <div class="col-lg-6 mt-4">
                    <label class="mdc-text-field mdc-text-field--outlined w-100 text-field-pass">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>Correo</mat-label>
                            <input required #email="ngModel" name="email" [(ngModel)]="destinatario.email" type="text" matInput>
                        </mat-form-field>
                    </label>
                </div>
                <div class="col-lg-6 mt-4">
                    <label class="mdc-text-field mdc-text-field--outlined w-100 text-field-pass">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>Telefono</mat-label>
                            <input required #telefono="ngModel" name="telefono" [(ngModel)]="destinatario.telefono" type="text" matInput>
                        </mat-form-field>
                    </label>
                </div>
                <div class="mt-4 ms-3 widthSelect">
                    <mat-form-field appearance="fill" class="widthSelect">
                        <mat-label>Choose an option</mat-label>
                        <mat-select required #bancoDestino="ngModel" name="bancoDestino" [(ngModel)]="destinatario.bancoDestino" >
                            <mat-option *ngFor="let banks of banks" [value]="banks.name">
                                {{banks.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-lg-6 mt-4">
                    <mat-form-field appearance="fill" class="widthSelect marginleftCustom">
                        <mat-label>Choose an option</mat-label>
                        <mat-select required #tipoCuenta="ngModel" name="tipoCuenta" [(ngModel)]="destinatario.tipoCuenta">
                            <mat-option *ngFor="let tipoCuentasBanco of tipoCuentasBanco" [value]="tipoCuentasBanco._id">
                                {{tipoCuentasBanco.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 mt-1">
                    <label class="mdc-text-field mdc-text-field--outlined w-100 text-field-pass">
                        <mat-form-field class="example-full-width w-100">
                            <mat-label>N° De Cuenta</mat-label>
                            <input required #numeroCuenta="ngModel" name="emanumeroCuentail" [(ngModel)]="destinatario.numeroCuenta" type="text" matInput>
                        </mat-form-field>
                    </label>
                </div>
            </div>

            <div class="mt-4 row justify-content-center">
                <button mat-raised-button color="basic" class="col-lg-5" (click)="cerrarDestinatario()">Cerrar</button>
                <button mat-raised-button color="primary" [disabled]="destinatarioForm.invalid" type="submit" class="col-lg-5 ms-2">Crear</button>
            </div>
        </form>
    </div>
</div>